In [7]:
import pandas as pd

In [10]:
pd.Series([56,34,78,93,90,65,76])

0    56
1    34
2    78
3    93
4    90
5    65
6    76
dtype: int64

In [22]:
s = pd.Series([86,79,90,34,65,78,23,97,93], index =["Rutuja -","Anuj -", "Yukta -", "Disha -", "Prajakta -", "Yash -", "Sanket -", "Sumit -", "Utkarsh -"])

In [24]:
s

Rutuja -      86
Anuj -        79
Yukta -       90
Disha -       34
Prajakta -    65
Yash -        78
Sanket -      23
Sumit -       97
Utkarsh -     93
dtype: int64

In [25]:
s["Anuj -"]

np.int64(79)

In [29]:
data = { "name" : ["Rutuja", "Anuj", "Utkarsh", "Gargi"],
         "Age" :  [20, 21, 17, 15],
         "Fav Food" : ["Corn" , "Chicken", "Pizza" , "Burger"]}

In [31]:
df = pd.DataFrame(data)

In [32]:
df

      name  Age Fav Food
0   Rutuja   20     Corn
1     Anuj   21  Chicken
2  Utkarsh   17    Pizza
3    Gargi   15   Burger

In [33]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [34]:
df.columns

Index(['name', 'Age', 'Fav Food'], dtype='object')