In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("BMW_Car_Sales_Classification.csv")

In [4]:
df

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [5]:
df.columns

Index(['Model', 'Year', 'Region', 'Color', 'Fuel_Type', 'Transmission',
       'Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume',
       'Sales_Classification'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [14]:
df["Model"]

0        5 Series
1              i8
2        5 Series
3              X3
4        7 Series
           ...
49995          i3
49996          i3
49997    5 Series
49998          i3
49999          X1
Name: Model, Length: 50000, dtype: object

In [15]:
df.loc[1]

Model                              i8
Year                             2013
Region                  North America
Color                             Red
Fuel_Type                      Hybrid
Transmission                Automatic
Engine_Size_L                     1.6
Mileage_KM                     121671
Price_USD                       79219
Sales_Volume                     3428
Sales_Classification              Low
Name: 1, dtype: object

In [16]:
df.iloc[1]

Model                              i8
Year                             2013
Region                  North America
Color                             Red
Fuel_Type                      Hybrid
Transmission                Automatic
Engine_Size_L                     1.6
Mileage_KM                     121671
Price_USD                       79219
Sales_Volume                     3428
Sales_Classification              Low
Name: 1, dtype: object

In [18]:
df.iloc[1,2]

'North America'

df.loc[0:2, ["Model","Color"]]

In [19]:
df.loc[0:2, ["Model","Color"]]

      Model Color
0  5 Series   Red
1        i8   Red
2  5 Series  Blue

In [20]:
df.iloc[0:2,0:2]

      Model  Year
0  5 Series  2016
1        i8  2013

In [21]:
df.at[1,"Model"]

'i8'

In [22]:
df.at[4,"Color"]

'Black'

In [23]:
df.iat[3,4]

'Petrol'

In [24]:
df.iat[1,4]

'Hybrid'

In [37]:
df[df["Year"]>2023]

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
40,i3,2024,Middle East,Red,Petrol,Automatic,3.5,135958,69578,173,Low
44,X5,2024,South America,Black,Hybrid,Manual,3.6,111661,82675,2155,Low
47,5 Series,2024,Asia,Blue,Electric,Manual,3.7,157789,86855,648,Low
74,X1,2024,Europe,Red,Petrol,Automatic,2.7,24141,84346,4289,Low
...,...,...,...,...,...,...,...,...,...,...,...
49928,X3,2024,South America,Blue,Electric,Automatic,2.6,11446,51398,5395,Low
49942,3 Series,2024,Europe,Silver,Hybrid,Automatic,1.9,76618,92351,4427,Low
49954,M3,2024,Africa,Blue,Electric,Automatic,2.8,86228,38003,5911,Low
49968,X3,2024,Europe,White,Petrol,Manual,2.8,44683,33558,2601,Low
49982,M3,2024,Asia,Silver,Hybrid,Automatic,1.7,198846,85034,7888,High

In [40]:
df[df["Year"]>2023]["Year"]

3        2024
40       2024
44       2024
47       2024
74       2024
         ...
49928    2024
49942    2024
49954    2024
49968    2024
49982    2024
Name: Year, Length: 3427, dtype: int64

In [43]:
df[(df["Year"]>2023) & (df["Color"] == "Red")]

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
40,i3,2024,Middle East,Red,Petrol,Automatic,3.5,135958,69578,173,Low
74,X1,2024,Europe,Red,Petrol,Automatic,2.7,24141,84346,4289,Low
344,i3,2024,Asia,Red,Petrol,Manual,1.9,42153,62609,897,Low
483,X3,2024,Europe,Red,Electric,Manual,4.7,1390,119117,7270,High
539,5 Series,2024,Europe,Red,Electric,Automatic,5.0,40963,46019,8074,High
...,...,...,...,...,...,...,...,...,...,...,...
49600,M5,2024,Middle East,Red,Petrol,Automatic,1.8,6326,31475,3939,Low
49712,3 Series,2024,Middle East,Red,Electric,Manual,1.7,153681,55286,3208,Low
49815,M3,2024,Asia,Red,Petrol,Automatic,4.0,82584,112812,9622,High
49891,X6,2024,Middle East,Red,Electric,Automatic,4.1,92092,118234,3033,Low
49923,3 Series,2024,South America,Red,Petrol,Automatic,4.2,153917,112489,5799,Low

In [48]:
df.query("Year > 2023 and Color == 'Red'")

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
40,i3,2024,Middle East,Red,Petrol,Automatic,3.5,135958,69578,173,Low
74,X1,2024,Europe,Red,Petrol,Automatic,2.7,24141,84346,4289,Low
344,i3,2024,Asia,Red,Petrol,Manual,1.9,42153,62609,897,Low
483,X3,2024,Europe,Red,Electric,Manual,4.7,1390,119117,7270,High
539,5 Series,2024,Europe,Red,Electric,Automatic,5.0,40963,46019,8074,High
...,...,...,...,...,...,...,...,...,...,...,...
49600,M5,2024,Middle East,Red,Petrol,Automatic,1.8,6326,31475,3939,Low
49712,3 Series,2024,Middle East,Red,Electric,Manual,1.7,153681,55286,3208,Low
49815,M3,2024,Asia,Red,Petrol,Automatic,4.0,82584,112812,9622,High
49891,X6,2024,Middle East,Red,Electric,Automatic,4.1,92092,118234,3033,Low
49923,3 Series,2024,South America,Red,Petrol,Automatic,4.2,153917,112489,5799,Low